.hero {
  height: 600px;
  position: relative;
}
@media (min-width: 992px) {
  .hero {
    height: calc(100vh - 130px);
  }
}

.hero-info {
  padding-top: 60px;
}
@media (min-width: 1420px) {
  .hero-info {
    padding-top: 140px;
  }
}
.hero-info li {
  padding-right: 15px;
  padding-left: 15px;
}
.hero-info .lnr {
  display: block;
  font-size: 32px;
  margin-bottom: 15px;
}

.hero-carousel .owl-prev,
.hero-carousel .owl-next {
  width: 110px;
  height: 110px;
}

.hero-carousel .owl-prev,
.hero-carousel .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.hero-carousel .owl-prev {
  border-right: 1px solid #f7f8f9;
}

.hero-carousel .owl-nav {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-carousel .owl-item img {
  height: 600px;
  object-fit: cover;
  max-width: 100%;
}
@media (min-width: 992px) {
  .hero-carousel .owl-item img {
    height: calc(100vh - 130px);
  }
}
