@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: left;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #f4ede5;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
}

.subheading {
  color: #f34949;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #f7f8f9;
}

a {
  color: #f34949;
}

a:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover,
a:hover {
  text-decoration: none;
  color: #e22104;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}
.btn-icon .lnr {
  font-size: 30px;
  margin-right: 10px;
}

.boxed-page {
  position: relative;
  border-color: #ededed;
  background-color: #fff;
}
/* .boxed-page .section-padding {
  padding-top: 65px;
  padding-bottom: 65px;
} */
.section-padding {
  padding-top: 65px;
  padding-bottom: 65px;
}
.pl-lg-5 {
  margin-left: 48px;
  padding-left: 48px;
}
@media (min-width: 992px) {
  .section-padding {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media (min-width: 1200px) {
  .boxed-page {
    margin: 30px;
  }
}

.img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-cover {
  object-fit: cover;
  object-position: center;
}

.footer-logo {
  height: 50px;
}

.nav-link {
  color: #000;
}

.btn {
  font-size: 14px;
  font-weight: 600;
}

.btn-primary {
  display: inline-block;
  background-color: #f34949;
  border-color: #f34949;
  color: #fff;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-primary:hover {
  background-color: #e22104;
  border-color: #e22104;
  color: #fff;
}

.btn-shadow {
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
}

.btn-icon {
  color: #000;
}

.thumb-menu img {
  height: 150px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.heading-section {
  margin-bottom: 30px;
}

/*===============================
=            OVERLAY            =
===============================*/
.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  display: block;
  content: "";
  background: #000;
  opacity: 0.2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay .section-content {
  position: relative;
  z-index: 1;
}

/*=====  End of OVERLAY  ======*/

/*===============================
=            SideNav            =
===============================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff;
}

.sidenav-content {
  padding: 8px 32px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.in .sidenav-content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s,
    opacity 0.5s 0.5s;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav #side-nav-close,
.sidenav #side-search-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#side-search .form-control {
  background-color: transparent;
}

#side-search .input-group-text {
  background: transparent;
  color: #fff;
}

#canvas-overlay {
  content: "";
  background: #000;
  opacity: 0;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  visibility: hidden;
  transition: opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    visibility 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.sidenav-open #canvas-overlay,
.sidesearch-open #canvas-overlay {
  max-width: 100%;
  opacity: 0.4;
  visibility: visible;
}

/*=====  End of SideNav  ======*/

/*==================================
=            RESPONSIVE            =
==================================*/
.only-mobile {
  display: none !important;
}

@media (max-width: 992px) {
  .hero {
    height: 100%;
  }
  .boxed-page {
    padding-top: 100px;
  }
  #navbar-header {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    z-index: 11;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #navbar-header .dropdown-menu {
    box-shadow: none !important;
  }
  #navbar-header .navbar-collapse {
    margin-top: 15px;
    background: #fff !important;
  }
  .only-mobile {
    display: block !important;
  }
  .only-desktop {
    display: none !important;
  }
  .menu-wrap {
    margin-bottom: 30px;
  }
  .footer-widget {
    margin-bottom: 30px;
  }
  .hero-left {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .hero-left,
  .hero-carousel .owl-item img {
    height: 600px;
  }
  .thumb-menu img {
    height: 90px;
  }
  .img-2 {
    height: 500px;
  }
}

/*=====  End of RESPONSIVE  ======*/
